<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        <h3 style="margin-bottom: 7px">Table of contents</h3>
        <ol class="toc">
                <li><a href="#empirical-study-design">Empirical Study Design</a></li>      
                <li><a href="#research-question-and-main-context">Research Question and Main Context</a></li>
                <li><a href="#data-collection">Data Collection</a></li>
                <li><a href="#code-representation">Code Representation</a></li>
                <li><a href="#data-cleaning">Data Cleaning</a></li>
                <li><a href="#classifiers">Classifiers</a></li>
        </ol>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by </p>
        <p align="center"><a href="https://thesoftwaredesignlab.github.io/"><img src="{{site.tsdllogo | relative_url}}" alt="{{ site.github.owner_name }}" srcset="" style="width: 100px"></a> <a href="https://www.seart.si.usi.ch/"><img src="{{site.seartlogo | relative_url}}" alt="SoftwarE Analytics Research Logo" srcset="" style="width: 70px"></a></p>
        <p>With the collaboration of </p>
        <p align="center"><a href="https://uniandes.edu.co/"><img src="{{site.logo1 | relative_url}}" alt="Universidad de Los Andes Logo" srcset="" style="width: 40px"></a><a href="https://www.usi.ch/it"><img src="{{site.logo2 | relative_url}}" alt="Universita della Svizzera italiana Logo" srcset="" style="width: 40px"></a>  </p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        <p>
          <small>
            <strong>Shallow or deep? is partially supported by the Swiss National Science Foundation for the CCQR project and by a Google Latin America Research Award (LARA) 2018 - 2020 </strong>
          </small>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
